@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  h1 {
    @apply text-xl font-medium text-gray-900;
  }
  h2,
  h3,
  h4 {
    @apply text-lg font-medium;
  }
  p {
    @apply text-gray-600 text-base leading-relaxed;
  }
  #__next {
    @apply flex flex-col h-screen;
  }
}

@layer utilities {
  .format-rich-text h2,
  h3,
  h4 {
    @apply text-lg mt-5 text-gray-600;
  }
  .format-rich-text p {
    @apply mt-1 text-base leading-[1.6rem];
  }
  .format-rich-text a {
    @apply underline;
  }
  .w-fit {
    width: fit-content;
  }
}
